<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your Beans here -->
    <bean id="deliveryService"
          class="com.agency04.sbss.pizza.PizzaDeliveryServiceImpl">
        <constructor-arg ref = "pizzeriaNumeroUno" />
        <property name="pizzeriaNumeroDue" ref="pizzeriaNumeroDue"/>
    </bean>
    <bean id = "pizzeriaNumeroUno"
          class="com.agency04.sbss.pizza.PizzeriaNumeroUno">
        <property name="name" value="Uno" />
    </bean>
    <bean id = "pizzeriaNumeroDue"
          class="com.agency04.sbss.pizza.PizzeriaNumeroDue">
        <property name="name" value="Due" />
    </bean>
</beans>