<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your Beans here -->

    <context:property-placeholder location="application.properties"/>
    <bean id="deliveryService"
          class="com.agency04.sbss.pizza.PizzaDeliveryServiceImpl">
        <constructor-arg ref = "pizzeriaNumeroUnoService" />
        <property name="pizzeriaNumeroDue" ref="pizzeriaNumeroDueService"/>
    </bean>
    <bean id = "pizzeriaNumeroUnoService"
          class="com.agency04.sbss.pizza.PizzeriaNumeroUnoService">
        <property name="name" value="Uno" />
    </bean>
    <bean id = "pizzeriaNumeroDueService"
          class="com.agency04.sbss.pizza.PizzeriaNumeroDueService">
        <property name="name" value="${due.name}"/>
        <property name="address" value="${due.address}"/>
    </bean>
</beans>